.svg {
  width: 20px;
  height: 20px;
}

.btns {
  flex-direction: column;
  gap: 5px;

  @media (min-width: 540px) {
    flex-direction: row;
  }
}

.row {
  @media (min-width: 540px) {
    font-size: 14px;
    padding: 6px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 8px;
  }
}

.btnComplete {
  @media (min-width: 768px) {
    width: 100%;
  }
}
